<html>
    <head>

        
        <title>
            <%=locals.title%>
        </title>
        <!--title passed as a key in an object from 
        index.js file , and its value has been replaced while rendering -->

        <script src="https://kit.fontawesome.com/7fbf0dbe07.js" crossorigin="anonymous"></script>
        <!--font awsome kit link-->

        <link rel="stylesheet" href="/css/home.css">
        <!--css file link has been added-->


    </head>

    <body>
        <h1 id="heading"><i class="fas fa-address-book">&nbsp;&nbsp;</i>My Contact List</h1>
        <div id ="contact_div">
            <ul>
                <%for (let i of contact_list) {%>
                    <li id="contact">
                        <div id ="details">
                            <p style="margin-left: 5px;"><%= i.name %></p>
                            <p style="margin-right: 5px;"><%= i.phone %></p>
                        </div>
                        <div id="delete_button">
                            <i class="fa fa-window-close" aria-hidden="true"></i>
                        </div>
                    </li>

                 <%}%>   
            </ul>

        </div>

        <!--form to take input from user-->
        <form action="create-contact" method="POST">
            <input type = "text" name="name" placeholder="Enter Name" required>
            <input type = "number" name = "phone" placeholder="Enter phone" required>

            <button type = "submit">Add Contact</button>
        </form>

        <script type="text/javascript" src="/js/home.js"></script> 
    
    </body>
</html>