body{
    margin:0 px;
    text-align: center;
}
#contact_div{
    margin:auto;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    width:auto;
}

#contacts li{
    margin-left: -37px;
    margin-bottom:1px;
    list-style-type: none;
    background-color:#5DAEF5;
    width: 40vw;
    display:flex;
    justify-content: space-between;
    line-height:60%;
}
#heading{
    margin-top:30px;
    font-family: sans-serif;
    color: darkgray;
}
#contacts li p{
    font-family:sans-serif;
    flex-direction: row;
}